body {
    background-color: black;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
    filter: brightness(1.3) saturate(1.5);

}

.main1 {
    position: absolute;
    top: 5%;
    right: 5%;
}

.main2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    top: 5%;
    left: 13%;
}

#buttons {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200 px;
    background-color: aliceblue;
    color: #022345;
    border: 2px solid #022345;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    cursor: pointer;

}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 53px;
    color: aliceblue;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 30%;
    left: 50%;

}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style: italic;
    color: aliceblue;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;

}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #022345;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 320px;

}


#searchbar {
    width: 600px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 40px;
    box-shadow: 2px 2px 10px #022345;
    padding: 25px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchtext {
    background: none;
    border: none;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #022345;
    margin-left: 10px;
    width: 100%;
}


#searchtext::placeholder {
    color: rgba(5, 38, 91, 0.4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

#searchbtn {
    background-color: #022345;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-radius: 20px;
    width: 120px;
    height: 38px;
    border: none;
    cursor: pointer;
    padding: 0;
    color: aliceblue;
}

.main {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    margin-left: 360px;
}

.sites {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding-left: 20px;

}

.sites-card {
    background: white;
    border: 1px solid aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.sites-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px aliceblue;
}

.sites-card img {
    width: 100%;
    border-radius: 8px;
    height: 145px;
}

.footer {
    /* opacity: 30%; */
    font-family: 'Times New Roman', Times, serif;
    background-color: #022345;
    color: white;
    position: absolute;
    top: 170%;
    left: 50%;
    font-size: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
